    <%- include ("partials/header") %>
    <main>
        <div class="explore-all-packs" id="exploreAllPacks"></div>
    </main>
    <script src="/js/explore.js"></script>
    <%- include ("partials/footer") %>