    <div class="form-login-back">
        <div class="form-login-content">
            <span class="form-login-close">+</span>
            <form action="/login" method="POST" class="popup-login-form">
                <fieldset class="">
                    <div class="">
                        <legend>Login!</legend>
                    </div>
                    <div class="">
                        <input type="text" name="username"  placeholder="Username" required="required" value="leo">
                    </div>
                    <div class="">
                        <input type="password" name="password" placeholder="Password" required="required" value="password">
                    </div>
                    <div class="">
                        <input type="submit" value="Login">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>